/*
  1) Para tirar o espaço entre as palavras, basta eliminar o espaço gerado entre elas ao se pressionar a tecla <enter>. Porém, deixar tudo em uma linha só torna o código confuso e porisso não é recomendado. Uma forma, ainda não ideal, de contornar isso é inserir comentário entre os elementos.
*/

.example {
    color: #FFF;
}

.example-item {
    display: inline;
}
.example-item_first {
    background-color: #FAA116;
}
.example-item_second {
    background-color: #57C7C3;
}
.example-item_third {
    background-color: #3B97D3;
}

h3{
    color: black;
}